.board-container {
  font-family: sans-serif;
  text-align: center;
  width: calc(min(calc(100dvh - 280px), 100vw));
  padding-top: calc(min(calc(100dvh - 280px), 100vw));
  position: relative;
}

.board {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.col {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.col.disable {
  cursor: crosshair;
}

.col.in-area {
  background-color: bisque;
}

.col:hover:not(.disable) {
  background: radial-gradient(#0ff, #9198e5) !important;
}

.win-line {
  position: absolute;
  background-color: red;
  border-radius: 10px;
}

.win-line.win-direction-1 {
  transform: rotate(90deg);
}

.win-line.win-direction-2 {
  transform: rotate(45deg);
}

.win-line.win-direction-3 {
  transform: rotate(-45deg);
}

.row .col:last-child {
  border-right: none;
}

.row:last-child .col {
  border-bottom: none;
}
